*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(125, 181, 163);
}

h1{
    background-color:#778ba3;
    color:black ;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(222, 210, 215);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 50%;
    background-color: black ;
    

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }